.nav_main{
  overflow: visible;
  padding-bottom: 10px;
  text-align: center;
  /* text-justify: center; */
}

.upload{
  padding-top:  30px;
}
.smallcard{
  width:60%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  padding-top:  10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  
}